{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <img src="" class="navbar-brand-img h-100" width="150" alt="main_logo">

            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center text-dark">
                        <span class="d-sm-inline d-none text-xl"><span
                                class="text-success">Welcome!</span>&nbsp;{{ user.username }}</span>
                    </li>
                    &nbsp;&nbsp;<li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:" class="nav-link text-body p-0" id="dropdownMenuButton"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#"
                               onclick="showLoading(event, '{% url 'dashboard:change' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-warning">Change Password</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#"
                               onclick="showLoading(event, '{% url 'Logout' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-danger">LogOut</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10" style="font-size:35px;">mode_of_travel</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-xl mb-0 text-capitalize text-dark">Available Ad slot</p>
                            <h5 class="mb-0">{{ total }}</h5>
                        </div>
                    </div>
                    <hr class="horizontal my-0">
                    <div class="card-footer p-3">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-xl mb-0 text-capitalize text-dark">Total Filled Ad slot</p>
                            <h5 class="mb-0">{{ filled }}</h5>
                        </div>
                    </div>
                    <hr class="horizontal my-0">
                    <div class="card-footer p-3">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-xl mb-0 text-capitalize text-dark">Total Free Ad slot</p>
                            <h5 class="mb-0">{{ free }}</h5>
                        </div>
                    </div>
                    <hr class="horizontal my-0">
                    <div class="card-footer p-3">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">weekend</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-xl mb-0 text-capitalize text-dark">Total Filled slots in %</p>
                            <h5 class="mb-0">{{ percentage }}%</h5>
                        </div>
                    </div>
                    <hr class="horizontal my-0">
                    <div class="card-footer p-3">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 mb-md-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5 class="text-center">AD List</h5>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0" style="max-height: 600px; overflow-y: auto;">
                            <table class="table align-items-center text-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">ID</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder ps-2">Ad Name</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Status</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Total Count</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Recorded Count</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Completion</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Ends By</th>
                                    <th class="text-uppercase text-dark text-xs font-weight-bolder">Day's Left</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a in ads %}
                                    <tr>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold">{{ forloop.counter }}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <a class="font-weight-bold" href="#"
                                               onclick="showLoading(event, '{% url 'Dashboard:ad_detail' a.id %}')">
                                                <span class="text-xs text-dark font-weight-bold"> {{ a.AdName }} </span>
                                            </a>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if a.status == 'up' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/green.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="up">
                                                </div>
                                            {% elif a.status == 'down' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/orange.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="down">
                                                </div>
                                            {% elif a.status == 'error' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/red.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="error">
                                                </div>
                                            {% elif a.status == 'crtical' %}
                                                <div class="avatar-group mt-2">
                                                    <img src="{% static 'img/arrow/red-circle.png' %}"
                                                         class="avatar avatar-xs rounded-circle" alt="critical">
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold"> {{ a.TotalCount }} </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold"> {{ a.myads_count }} </span>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-wrapper w-75 mx-auto">
                                                <div class="progress-info">
                                                    <div class="progress-percentage">
                                                        <span class="text-xs text-dark font-weight-bold"
                                                              data-bs-toggle="tooltip"
                                                              title="{{ a.percentage|floatformat }}%">{{ a.percentage|floatformat }}%</span>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-info "
                                                         style="width: {{ a.percentage|floatformat }}%;"
                                                         role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                         aria-valuemax="100" data-bs-toggle="tooltip"
                                                         title="{{ a.percentage|floatformat }}%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold"> {{ a.EndDate }} </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs text-dark font-weight-bold" data-bs-toggle="tooltip"
                                                  title="No of days to end"> {{ a.diff }} </span>
                                        </td>
                                    </tr> {% endfor %} </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h6>Ads Ending Soon</h6>
                    </div>
                    <div class="card-body p-3" style="max-height: 600px; overflow-y: auto;">
                        <div class="timeline timeline-one-side">
                            {% if ten_days or five_days %}
                            {% else %}
                                <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-success text-gradient">notifications</i>
                </span>
                                    <div class="timeline-content">
                                        <h4 class="text-dark text-sm font-weight-bold mb-0">No Ads</h4>
                                    </div>
                                </div>
                            {% endif %}
                            {% for ad in five_days %}
                                <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-danger text-gradient">notifications</i>
                </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">{{ ad.AdName }}</h6>
                                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ ad.EndDate }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for ad in ten_days %}
                                <div class="timeline-block mb-3">
                <span class="timeline-step">
                  <i class="material-icons text-warning text-gradient">notifications</i>
                </span>
                                    <div class="timeline-content">
                                        <h6 class="text-dark text-sm font-weight-bold mb-0">{{ ad.AdName }}</h6>
                                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ ad.EndDate }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function showLoading(event, url) {
            // Prevent the default behavior of the hyperlink
            event.preventDefault();

            // Display the loading animation
            document.getElementById("loading").style.display = "block";

            // Redirect to the URL after a 1-second delay
            setTimeout(function () {
                window.location.href = url;
            }, 1000);
        }
    </script>
{% endblock %}

