{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/plugins/flatpickr.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <img src="" class="navbar-brand-img h-100" width="150" alt="main_logo">

            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center text-dark">
                        <span class="d-sm-inline d-none text-xl"><span
                                class="text-success">Welcome!</span>&nbsp;{{ user.username }}</span>
                    </li>
                    &nbsp;&nbsp;<li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:" class="nav-link text-body p-0" id="dropdownMenuButton"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#"
                               onclick="showLoading(event, '{% url 'dashboard:change' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-warning">Change Password</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="#"
                               onclick="showLoading(event, '{% url 'Logout' %}')">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold text-danger">LogOut</span>
                                        </h6>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->
    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">

                            <div class="card-body">
                                <form role="form" class="text-start" id="form" method="post">
                                    {% csrf_token %}
                                    <div class="input-group input-group-static my-3">
                                        <label>Branch</label>
                                        {% render_field form.branch class="form-control" %}
                                    </div>
                                    <div class="input-group input-group-static mb-3">
                                        <label>Issue</label>
                                        {% render_field form.issue class="form-control" %}
                                    </div>
                                    </div>
                                    <div class="input-group input-group-static mb-3">
                                        <label>Reported By</label>
                                        {% render_field form.user class="form-control" %}
                                    </div>
                                    <div class="input-group input-group-static mb-3">
                                        <label>Computer</label>
                                        {% render_field form.pc class="form-control" %}
                                    </div>
                                    <div class="input-group input-group-static mb-3">
                                        <label>Resolution</label>
                                        {% render_field form.resolution class="form-control" %}
                                    </div>
                                    <div class="form-check form-switch">
                                    {% render_field form.status class="form-check-input" type="checkbox" %}
                                    <label class="form-check-label mb-0 ms-3">completed</label>
                                </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Save
                                            changes
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{% static 'js/plugins/flatpickr.js' %}"></script>
    <script>
        function showLoading(event, url) {
            // Prevent the default behavior of the hyperlink
            event.preventDefault();

            // Display the loading animation
            document.getElementById("loading").style.display = "block";

            // Redirect to the URL after a 1-second delay
            setTimeout(function () {
                window.location.href = url;
            }, 1000);
        }


        $(document).ready(function () {
            $('form').submit(function () {
                $('#loading').show();
            });
        });

        flatpickr("#datepicker", {
            dateFormat: "Y-m-d",
        });
    </script>
{% endblock %}

